.login {
    display:grid;
    place-items: center;
    height:100vh;
    background-color: black;
}

.login > img {
    width:70vw;
    height: 50vh;
    object-fit: contain;

}

.login > a {
    padding: 23px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-top: -200px;
}